{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class=" d-flex mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card bg-white">
                    <div class="card-body p-5">
                        {{ form_start(registrationForm) }}
                        <h2 class="fw-bold mb-2 text-uppercase ">Registration</h2>
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(registrationForm) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-success">Create an account</button>
                        </div>
                        <a class="link-info" href="{{ path('app_login') }}">Already an account</a>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
