{% extends 'base.html.twig' %}
 {% block title %}Accueil{% endblock %}
{% block header %}
    <div class="bg-image" style="background-image: url({{ asset('img/img2.jpg') }});height: 100vh;background-repeat: no-repeat; background-size: 100%;">
        <div class="mask" style="background-color: rgba(178, 60, 253, 0.6);">
            <div class="position-absolute top-50 start-50 translate-middle ">
                <h1 class="masthead-heading mb-0 text-white">Page en cours</h1>
            </div>
        </div>
    </div>
    <div id="scroll_to_top">
        <a href="#bot"><i class="fas fa-arrow-down"></i></a>
    </div>
{% endblock %}

{% block body %}
    <section class="text-center bot mt-5" id="bot">
        <div class="row">

        {% for trick in tricks |slice(0,6)%}
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card" id="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            {% for upload in trick.upload|slice(0,1)  %}
                            <img src="/img/upload/{{ upload.file }}" class="img-thumbnail" />
                            {% endfor %}
                            <a href="/trick/detail/{{ trick.id }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ trick.name }}</h5>
                            <a href="/trick/detail/{{ trick.id }}" class="btn btn-primary">See More</a>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% if app.user.id == trick.user.id or is_granted('ROLE_ADMIN') %}
                                <span  data-controller="hello" data-action="click->hello#edittrick" data-hello-idedit-value="{{ trick.id }}"><i class="fas fa-edit"></i></span>
                                <span  data-controller="hello" data-action="click->hello#removetrick" data-hello-idremove-value="{{ trick.id }}"><i class="fas fa-trash-alt"></i></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

        {% endfor %}
        </div>
        {% if tricks|length > 6 %}
            <a href="{{ path('trick_index')}}" class="btn btn-primary">See More Trick</a>
        {% endif %}
    </section>

{% endblock %}
