@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

//body {
//    background-color: lightgray;
//}

//#intro {
//    //background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
//    height: 100vh;
//}
//
///* Height for devices larger than 576px */
//@media (min-width: 992px) {
//    #intro {
//        margin-top: -58.59px;
//    }
//}
//
.navbar .nav-link {
    color: #fff !important;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #a18cd1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
                    45deg,
                    rgba(29, 236, 197, 0.6),
                    rgba(91, 14, 214, 0.6) 100%
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
                    45deg,
                    rgba(29, 236, 197, 0.6),
                    rgba(91, 14, 214, 0.6) 100%
    );
}


#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}
#scroll_to_top i {
    width: 25px;
}

#card {
    height: 100%;
}

