<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Snowboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ path('default_index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('trick_index') }}">All Tricks</a></li>

                <li class="nav-item"><a class="nav-link" href="{{ path('trick_save') }}">Add Trick</a></li>
            </ul>
            <div class="d-flex" role="search">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.nom }} {{ app.user.prenom }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                        <a class="btn btn-secondary" href="{{ path('app_register') }}" role="button">Sign Up</a>
                        <a class="btn btn-primary" href="{{ path('app_login') }}" role="button">Sign In</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>

