{% extends 'base.html.twig' %}
 {% block title %}Trick Save{% endblock %}
{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
 <div class=" d-flex mt-5">
   <div class="container">
     <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-4">
          <div class="card bg-white">
            <div class="card-body p-5">
              {{ form_start(trickForm) }}
              <h2 class="fw-bold mb-2 text-uppercase ">Trick Save</h2>
              <div class="my-custom-class-for-errors">
                {{ form_errors(trickForm) }}
              </div>
              <div class="mb-3">
                {{ form_row(trickForm.name, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
                {{ form_row(trickForm.description, {'attr': {'class': 'form-control'}}) }}
              </div>
              <div class="mb-3">
               <div {{ stimulus_controller('form-collection') }}
                       data-form-collection-index-value="{{ trickForm.upload|length > 0 ? trickForm.upload|last.vars.name + 1 : 0 }}"
                       data-form-collection-prototype-value="{{ form_widget(trickForm.upload.vars.prototype)|e('html_attr') }}"
               >
                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add an image</button>
               </div>
              </div>
              <div>
               <button type="submit" class="btn btn-outline-success">Save</button>
              </div>
              {{ form_end(trickForm) }}
            </div>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endblock %}