{% extends 'base.html.twig' %}
 {% block title %}Trick Detail{% endblock %}
{% block body %}
<section class="container">
  <div class="bg-image center-block" style="background-image: url('/img/upload{{ asset(trick.upload[0].file) }}');height: 40em;background-repeat: no-repeat; background-size: 100%;">
   <div class="mask" style="background-color: rgba(178, 60, 253, 0.6);">
    <div class="position-absolute top-50 start-50 translate-middle ">
     <h1 class="masthead-heading mb-0">{{ trick.name }}</h1>
    </div>
   </div>
  </div>
  <div class="container mt-5">
    {% for upload in trick.upload|slice(1) %}
     <div class="car" style="width: 18rem">
      <img src="/img/upload{{ asset(upload.file )}}" class="card-img-top" >
     </div>
    {% endfor %}
  </div>

  <div class="container mt-5 text-center">
    <h1 class="mb-3">Description</h1>
    <p>{{ trick.description }}</p>
  </div>

  <div class="card-group">
    <div class="card">
        <p>Date création : {{ trick.datecreate|date("d/m/Y")}}</p>
    </div>
   <div class="card">
       <p>Date Modification : {{  trick.dateupdate is empty ? "" : trick.dateupdate|date("d/m/Y") }}</p>
   </div>
  <div class="card">
      <p>Auteur : {{ trick.user.nom }} {{ trick.user.prenom }}</p>
  </div>

  </div>

    <hr>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4">
                    <h2 class="mb-4">Comment</h2>
                    <div class="form-outline mb-4">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ form_start(commentForm) }}
                            {{ form_row(commentForm.comment, {'attr': {'class': 'form-control'}}) }}
                            <button type="submit" class="btn btn-outline-success">Save</button>
                            {{ form_end(commentForm) }}
                            {% else %}
                                <p>To leave a comment please <a href="{{ path('app_login') }}">log in</a></p>
                        {% endif %}

                    </div>
                    {% for com in trick.comment %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <p>{{ com.comment }}</p>

                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}