{% extends 'base.html.twig' %}
 {% block title %}Mot de passe oublier{% endblock %}
{% block body %}
    <section class="login-dark">
        <form method="post">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration">
                <h1 style="font-size: 30px;">Reset Password</h1>
            </div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Username"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="margin-right: 10px;margin-left: 0px;">Reset</button></div>
        </form>
    </section>
{% endblock %}